/* 
 * Custom styles (denoted by PascalCase) 
 *
 * */

.Page {
  height: 100vh;
}

.Navbar {
  border-bottom: 1px solid #e1e1e1;
}

.Product {
  background: #eee;
  border: gray;
  padding: 1rem;
  margin: 1rem;
}

.Product > p.ProductDescription {
  font-size: 14px;
}

.Product > .ProductImage {
  max-height: 130px;
}

/* Create custom grid so that products can be added dynamically whilst maintaining responsive structure */

.CustomRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* 
 * Bootstrap overrides/alterations
 *
 * */

/* When a Button has the Bootstrap class `.disabled`, ensure that the button is fully deactivated */

.disabled {
  pointer-events: none;
}
